.cows {
  display: inline;
  height: 14px;
}
.cows-row {
  display: block;
}
.cows-row > .cows-column {
  padding: 1rem;
}
@media (min-width: 768px) {
  .cows-row {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
