.cows {
  float: left;
  height: 14px;
}
.cows-summary > * {
  margin: 0 auto;
}
.cows-summary h3,
.cows-summary p {
  text-align: center;
}
.cows-summary table {
  margin-block-end: 0;
}
.cows-row {
  display: block;
}
.cows-row > .cows-column {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .cows-row {
    display: flex;
  }
  .cows-column.left {
    width: 220px;
  }
  .cows-column.right {
    width: 420px;
  }
}
